/*************** 
 * BASE STYLES *
 ***************/

/* Variables */
:root {
  --blue: #2d46b9;
  --white: #ffffff;
  --black: #000000;
  --green1: #1ed760;
  --green2: #1db954;
  --gray1: #c1c3c6;
  --gray2: #919496;
  --gray3: #616467;
  --hero-bg-color: #1c1c1c;
  --hero-terms-link: #efefef;
  --netflix-red-1: #e50914;
  --netflix-red-2: #f23a3a;
}

/* Overwrite browser defaults */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "DM Sans", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

/********** 
 * HEADER *
 **********/
header {
  height: 5.5rem;
  background: var(--black);
  width: 100%;
  background: var(--black);
  position: fixed;
  z-index: 999;
}

.header-container {
  display: flex;
  justify-content: space-between;
  max-width: 76.5rem;
  height: 100%;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.header-logo {
  display: flex;
  align-items: center;
  height: 100%;
  cursor: pointer;
}

.header-logo img {
  width: 9rem;
}

.profile {
  border: 2px solid white;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1.5rem;
  cursor: pointer;
}

.profile svg {
  width: 1.6rem;
  fill: var(--white);
}

.profile:hover {
  border-color: var(--green1);
}

.profile:hover > svg {
  fill: var(--green1);
}

.nav-desktop {
  display: flex;
  align-items: center;
}

.nav-desktop ul {
  display: flex;
  align-items: center;
}

.nav-desktop ul li {
  font-size: 1.5rem;
  color: var(--white);
  margin-right: 3rem;
  font-weight: 700;
}

.nav-desktop > ul li:last-child {
  width: 1.7rem;
  height: 0.1rem;
  background: var(--white);
  transform: rotate(90deg);
}

.nav-desktop ul li a:hover {
  color: var(--blue);
}

.profile-container {
  display: flex;
  cursor: pointer;
  position: relative;
}

/* Dropdown menu */
.dropdown-menu {
  width: 16rem;
  height: 8rem;
  position: absolute;
  background: var(--white);
  bottom: -9.5rem;
  right: -2rem;
  border-radius: 0.4rem;
  visibility: hidden;
}

/* Input of type check that will be used to open and close the dropdown menu */
.dropdown-menu-toggler {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

/* This code will create the triangle that is on top of the dropdown menu */
.dropdown-menu::before {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  top: -1.3rem;
  right: 1rem;
  border-left: 1.6rem solid transparent;
  border-right: 1.6rem solid transparent;
  border-bottom: 1.6rem solid var(--white);
}

.dropdown-menu ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 1.5rem;
}

/* Dropdown menu 'Account' link */
.dropdown-menu ul li:first-child {
  margin-bottom: 1rem;
  color: var(--black);
}

/* Dropdown menu 'Log out' link */
.dropdown-menu ul li:last-child {
  margin-bottom: 1rem;
  color: var(--gray2);
}

/* This line will show the dropdown menu when the user clicks on 'Profile' */
.dropdown-menu-toggler:checked + .dropdown-menu {
  visibility: visible;
}

/* This line will change the rotation of the arrow when the dropdown menu is opened */
.dropdown-menu-toggler:checked
  + .dropdown-menu
  + .profile
  + ul
  li:last-child
  svg {
  transform: rotate(180deg);
}

/******** 
 * HERO *
 ********/

 .hero {
  background: var(--hero-bg-color);
  position: relative;
}

.hero-container {
  padding: 24.5rem 1.5rem 0 1.5rem;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-title {
  font-size: 5rem;
  color: var(--white);
  text-align: center;
  font-weight: 700;
  margin-bottom: 4rem;
  line-height: 5rem;
  letter-spacing: -0.3rem;
}

.hero-button {
  padding: 2rem 6rem;
  border: none;
  border-radius: 3rem;
  color: var(--black);
  background: var(--netflix-red-1);
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  outline: none;
  cursor: pointer;
  transition: all 0.4s ease;
  margin-bottom: 3rem;
}

.hero-button:hover {
  background: var(--netflix-red-2);
}

.terms {
  display: flex;
  margin-bottom: 2rem;
}

/*
In CSS, the + symbol is known as the adjacent sibling combinator. 
It is used to select an element that directly follows another specific element.
*/

.hero-terms-link,
.hero-terms-link + span,
.terms > span {
  font-size: 1.2rem;
  color: var(--hero-terms-link);
}

/*
In CSS, the > symbol is called the child combinator. 
It is used to select direct child elements of a parent element.
*/
.hero-terms-link,
.terms > span {
  margin-right: 0.2rem;
}

.hero-terms-link {
  text-decoration: underline;
  transition: all 0.6s ease;
}

.hero-terms-link:hover {
  color: var(--white);
}

/********** 
 * MOVIE *
 **********/
 .movies-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 5rem 1.5rem;
}

.movies-title {
  font-size: 3.5rem;
  color: var(--gray3);
  font-weight: 700;
  margin-bottom: 4rem;
}

.movies-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  justify-content: center;
  align-items: center;
}
.movie-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
  margin: 10px;
  height: 95%;
  width: 90%;
}

.movie {
  min-width: 50%;
  padding-left: 3.5rem;
  box-sizing: content-box;
}

.movie:last-child {
  padding-right: 1.5rem;
}

.movie:first-child {
  padding-left: 1.5rem;
}

.movie img {
  width: 100%;
  height: 400px;
  box-shadow: 0.1rem 0.1rem 1.6rem -0.2rem rgba(0, 0, 0, 0.3);
}

.movie img:hover {
  cursor: pointer;
}

.movie-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.movie-info h2,
.movie-info h4 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  cursor: pointer;
}


.movie-info h2 {
  font-size: 1.75rem;
  color: var(--gray2);
  padding-top: 2rem;
}

.movie-info h4 {
  font-size: 1.5rem;
  color: var(--gray1);
  margin: 1rem 0;
}

.movie-info a {
  font-size: 1.5rem;
  color: var(--netflix-red-1);
  font-weight: 700;
  letter-spacing: 2px;
  transition: all 0.4s ease;
}

.movie-info  a:hover {
  color: var(--netflix-red-2);
}

